<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Temp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex text-center  justify-content-md-center">
                    <center>
                        @if (User.Identity.Name != null)
                         {
                            <a style="display:inline !important" class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                            <a style="display:inline !important" class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="AllCars">All Cars</a>
                            <a style="display:inline !important" class="nav-link text-dark" asp-area="" asp-controller="RentForm" asp-action="AllRentForms">My rents</a>
                         }
                    </center>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
